@import '~antd/dist/antd.css';
.App {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.side-bar {
  width: 208px;
  box-sizing: border-box;
  background-color: #001529;
  box-shadow: 2px 0 8px 0 rgba(29,35,41,.05);
}

.side-bar-menu,
.side-bar-menu-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.side-bar-menu-item {
  box-sizing: border-box;
  padding-left: 32px;
  margin-bottom: 8px;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
}
.side-bar-menu-item-active {
  background-color: #1890ff
}

.content {
  flex: 1;
  box-sizing: border-box;
  padding: 20px;
}
